body {
    padding-top: 5rem;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0px;
    width: 400px;
    color: rgb(90, 156, 255);
}

#top{
    grid-row-start: 1;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0px;
    background-image: linear-gradient(rgb(136, 183, 255), white);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: rgb(90, 156, 255) solid 5px;
    border-left: rgb(90, 156, 255) solid 5px;
    border-right: rgb(90, 156, 255) solid 5px;
    padding-top: 10px;
}

#photo {
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 100%;
    height: 225px;
    width: 250px;
}

#details {
    grid-row-start: 2;
    text-align: center;
}

#bottom{
    grid-row-start: 2;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: rgb(215, 229, 252) solid 1px;
    border-bottom: rgb(90, 156, 255) solid 5px;
    border-left: rgb(90, 156, 255) solid 5px;
    border-right: rgb(90, 156, 255) solid 5px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#bio {
    grid-row-start: 1;
    text-align: center;
}

#activity {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#posts, #following, #followers{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#follow-btn {
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, b {
    color: rgb(0, 68, 255);
}

button {
    background-color: rgb(136, 183, 255);
    border-color: rgb(136, 183, 255);
    color: white;
    height: 35px;
    width: 135px;
    border-radius: 10px;
}